@if (answers) {
  <div [class.pe-none]="readOnly()" [class.opacity-75]="readOnly()">
    <div class="list-group">
      <h3>
        {{
          caseForm().name +
            " für Familie " +
            (case().family?.name ?? "(Daten gelöscht)")
        }}
      </h3>
      @if (caseForm().containsPersonalData) {
        <small class="text-muted d-flex align-items-center gap-1 mb-4"
          ><i class="bi bi-info-circle"></i> Dieses Formular enthält
          personenbezogene Daten</small
        >
      } @else {
        <small class="text-muted d-flex align-items-center gap-1"
          ><i class="bi bi-info-circle"></i> Dieses Formular enthält statistisch
          ausgewertete Daten</small
        >
      }
      @if (caseForm().isPersonal) {
        <app-select-person-component
          [person]="person()"
          (personChange)="setPerson($event)"
          [case]="case()" />
      }
      @for (q of caseForm().questions; track q.id) {
        <app-question
          [question]="q"
          [answer]="answers[q.id]"
          (answerChange)="setAnswer(q.id, $event)" />
      }
    </div>
  </div>
  @if (!readOnly()) {
    <div class="page-actions">
      <button class="btn btn-outline-primary" (click)="saveResponse()">
        Speichern
      </button>
      {{ " " }}
      @if (responseId) {
        <button type="button" (click)="delete()" class="btn btn-outline-danger">
          Löschen
        </button>
      }
    </div>
  }
}
