<div class="container">
  @if (!caseId) {
    <div class="mb-2">
      <app-select-case [(case)]="case" />
    </div>
  }
  @if (caseId && case) {
    <div class="mb-2">
      <h5>Gewichtsdaten für Familie {{ case.family.name }}</h5>
    </div>
  }
  <div class="mb-2">
    <app-select-child [case]="case" [(child)]="child" />
  </div>

  @if (child) {
    <div class="container mb-2">
      <p>Geburtstag: {{ child.dateOfBirth | date }}</p>
      <p>Alter: {{ age(child) }}</p>

      <h5>Gewichtsmessung hinzufügen</h5>
      <div class="input-group me-2">
        <input
          id="dateInput"
          class="form-control"
          aria-label="Datum"
          placeholder="Datum"
          [(ngModel)]="dateInput"
          (dateSelect)="onDateInput($event)"
          navigation="select"
          name="dp"
          (click)="d.toggle()"
          ngbDatepicker
          #d="ngbDatepicker"
          required />
        <button
          class="btn btn-outline-secondary bi bi-calendar3"
          (click)="d.toggle()"
          type="button"></button>
      </div>

      <input class="form-control" type="number" [(ngModel)]="weight" />
      <button
        [disabled]="!weight || !child || !dateInput"
        class="btn btn-primary"
        (click)="add()">
        Add
      </button>

      <div>
        @for (data of child.healthData; track $index) {
          <div class="card">
            <div class="card-body">
              <p>Datum: {{ data.date | date }}</p>
              <p>Gewicht: {{ data.weightKg }}kg</p>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
