@if (form) {
  <div>
    <h3>{{ form ? form.name : "Kein Formular ausgewählt" }}</h3>
    <div [class.pe-none]="readOnly" [class.opacity-75]="readOnly">
      <div>
        @for (q of form.questions; track q.id) {
          <app-question [question]="q" [(answer)]="answers[q.id]" />
        }
      </div>
    </div>
    @if (!readOnly) {
      <div class="page-actions">
        <button
          class="btn btn-outline-primary"
          (click)="save()"
          [disabled]="!validate()">
          Speichern
        </button>
        {{ " " }}
        @if (response) {
          <button
            type="button"
            (click)="delete()"
            class="btn btn-outline-danger">
            Löschen
          </button>
        }
      </div>
    }
  </div>
}
