<div [formGroup]="questionGroup" class="d-flex flex-column gap-2">
  <div class="form-group">
    <label>Fragetext</label>
    <input
      type="text"
      class="form-control"
      formControlName="text"
      placeholder="Fragetext"
      [class.is-invalid]="
        questionGroup.get('text')?.invalid && questionGroup.get('text')?.touched
      " />
    @if (
      questionGroup.get("text")?.invalid && questionGroup.get("text")?.touched
    ) {
      <div class="invalid-feedback">Fragetext ist erforderlich</div>
    }
  </div>

  <div class="d-flex gap-3 align-items-end">
    <div class="form-group flex-grow-1">
      <label>Fragetyp</label>
      <select class="form-select" formControlName="type">
        @for (t of questionTypes; track t) {
          <option [value]="t">{{ typeLabel(t) }}</option>
        }
      </select>
    </div>

    <label class="form-check-label d-flex align-items-center gap-1 mb-2">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="required" />
      Pflichtfrage
    </label>
  </div>

  @if (type === QuestionType.Textarea) {
    <div class="form-group" style="max-width: 12rem">
      <label>Anzahl Zeilen</label>
      <input
        type="number"
        min="1"
        class="form-control"
        formControlName="textAreaRows" />
    </div>
  }

  @if (type === QuestionType.Integer || type === QuestionType.Float) {
    <div class="d-flex gap-3">
      <div class="form-group">
        <label>Minimalwert</label>
        <input
          type="number"
          [step]="numberStep"
          class="form-control"
          formControlName="min"
          [class.is-invalid]="questionGroup.errors?.['minGreaterThanMax']" />
      </div>
      <div class="form-group">
        <label>Maximalwert</label>
        <input
          type="number"
          [step]="numberStep"
          class="form-control"
          formControlName="max"
          [class.is-invalid]="questionGroup.errors?.['minGreaterThanMax']" />
      </div>
    </div>
    @if (questionGroup.errors?.["minGreaterThanMax"]) {
      <div class="text-danger small">
        Der Minimalwert darf nicht größer als der Maximalwert sein.
      </div>
    }
  }

  @if (type === QuestionType.Select) {
    <label class="form-check-label d-flex align-items-center gap-1">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="multiple" />
      Mehrfachauswahl erlauben
    </label>

    <app-select-options-editor [optionsArray]="selectOptions" />
  }
</div>
