<ul class="list-group">
  <li class="list-group-item">
    <div class="d-flex flex-row justify-content-left gap-2 align-items-center">
      <span>
        Datum: {{ doc().date | date }}
        @if (hasWarning()) {
          <span
            class="badge rounded-pill text-bg-danger ms-1"
            title="Dokumentation ist unvollständig.">
            <i class="bi bi-exclamation-triangle-fill"></i>
          </span>
        }
      </span>
      <span class="text-muted">|</span>
      <span>
        {{ artString() }}
      </span>
      <span class="text-muted">|</span>
      <span>
        {{ durationString() }}
      </span>
      <div class="ml">
        <a
          class="btn btn-outline-secondary"
          [attr.aria-label]="readOnly() ? 'Ansehen' : 'Bearbeiten'"
          [routerLink]="link"
          [queryParams]="readOnly() ? { readonly: true } : undefined">
          <i
            class="bi"
            [class.bi-pencil]="!readOnly()"
            [class.bi-eye]="readOnly()"></i>
        </a>
        <button
          class="m-1 btn btn-outline-secondary"
          aria-label="PDF herunterladen"
          (click)="
            documentationService.downloadContactDocumentationPDF(
              doc().caseId,
              doc().id
            )
          ">
          <i class="bi bi-cloud-download"></i>
        </button>
      </div>
    </div>
    <span class="text-muted name">{{
      "Erstellt von " + userPipe.transform(doc().createdBy)
    }}</span>
  </li>
  <li class="list-group-item">Zusammenfassung: {{ doc().zusammenfassung }}</li>
</ul>
