<div class="tab-section">
  <div class="container">
    <div class="row">
      <div class="col p-2">
        <h6 class="section-title">Derzeitige Familienbetreuer</h6>
        <div class="text-muted small">
          @for (user of selectedCase().responsibleUsers; track user.id) {
            <p>{{ user | user }}</p>
          }
        </div>
        <h6 class="section-title">Letzte Übergaben</h6>
        @for (handover of handovers(); track handover) {
          <app-handover-brief [handover]="handover"></app-handover-brief>
        }
      </div>
      <div class="col p-2">
        <app-case-handover
          [selectedCase]="selectedCase()"
          (changes)="changes.emit($event)" />
      </div>
    </div>
  </div>
</div>
